.form-container {
    display: flex;
    justify-content: center;
    font-family: Arial, Helvetica, sans-serif;
  }

.form {
    display: flex;
    flex-direction: column;
    border: 1px solid black;
    padding: 0.5rem;
    background-color: #f4e8d8;
    box-shadow: 4px 4px 5px gray;;
    margin-top: 5rem;
    width: 40rem;
}

input[type=submit] {
    width: 25%;
    margin: auto;
}

input[type=img] {
   margin-bottom: 1rem;
}

label {
    margin-bottom: 0.25rem;
}
